.gallery {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  justify-content: space-around;
  /* align-content: space-around; */
}

.gallery img {
  width: 100%;
}

.gallery-entry {
  background-color: rgb(64,32,0);
  padding: 10px;
}
.gallery-entry p {
  /* color: b; */
  /* font-weight: bold; */
}
